body {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background: linear-gradient(to right, #4caf50, #2196f3);
  font-family: "Arial", sans-serif;
}
#todos-container {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 15px 30px;
  text-align: center;
  backdrop-filter: blur(10px);
  width: 400px;
  height: auto;
}
#title {
  font-weight: bolder;
  font-size: 30px;
}
#todo {
  padding: 10px;
  border: none;
  font-size: 18px;
  border-radius: 5px;
}
#add {
  padding: 10px 15px;
  font-size: 18px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.filtered-btn {
  display: flex;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px 0px;
  border-radius: 5px;
  margin: 10px;
}
.filtered-hide {
  display: none;
}
#sortBy,
#clear,
#filter {
  padding: 8px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(228, 190, 190);
}
#task-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
#clear {
  font-size: 25px;
  color: red;
}

/* Styling for the task input field */
#task-input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  height: 25px;
  outline-color: #ccc;
}
#add-button {
  padding: 0 10px;
  font-size: 16px;
  cursor: pointer;
  height: 45px;
  border-radius: 5px;
  border: 0;
  color: rgb(46, 46, 46);
  background: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

/* Styling for the button on hover */
#add-button:hover {
  background: rgba(213, 213, 213, 0.5);
}

#task-list {
  /* Styling for the task list */
  list-style: none;
  padding: 0;
  margin: 0;
}
#todo-text {
  background: rgba(255, 255, 255, 0.2);
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
  padding: 5px;
  border-radius: 8px;
}
.task-item {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  margin: 10px 0;
  padding: 10px;
}
.task-item span {
  width: 66%;
  text-align: left;
  word-wrap: break-word;
}

#edit,
#delete {
  padding: 8px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color: #51b055;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#delete {
  background-color: #2196f3;
  cursor: pointer;
}
#todos-error {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.bg-sucsses {
  color: green;
}
.bg-delete {
  color: rgb(233, 5, 5);
}
